.images {
  width: 300px;
  border-radius: 25px;
  float: left;
}

.image-left {
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
}

#image-right {
  float: right;
  margin-top: 10px;
  margin-left: 15px;  
}

#image03 {
  margin-top: 5px;
}

@media screen and (max-width: 819px){

  #about-me-container {
    width: 400px;
  }

  .images {
    float: none;
  }

  #image-right {
    float: none;
  }

}

@media screen and (max-width: 967px) {

  li a {
    font-size: 25px;
  }

}