body {
  background-color: #F2B138;
}

#about-me-container {
  text-align: center;
  height: 100vh;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 80px;
  background-color: #7F7F7F;
  padding: 50px;
}

h1 {
  font-size: 60px;
}

.images {
  width: 300px;
  border-radius: 25px;
  float: left;
}

.image-left {
  margin-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
}

#image-right {
  float: right;
  margin-top: 10px;
  padding-left: 15px;  
}

#image03 {
  margin-top: 5px;
}

.about-me-text {
  font-size: 20px;
  text-align: justify;
}

@media screen and (max-width: 819px){

  #about-me-container {
    width: 400px;
  }

  .images {
    float: none;
  }

  #image-right {
    float: none;
  }

}

@media screen and (max-width: 967px) {

  li a {
    font-size: 25px;
  }

}