body {
  margin: 0;
  background-color: #7F7F7F;
  color: white;
  font-family: 'Quicksand', Helvetica, sans-serif;
}

.text-container {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #7F7F7F;
  padding: 50px;
  font-size: 20px;
  text-align: justify;
}

#header {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  position: fixed;  
  z-index: 1;
  top: 0;
  background-color: #7F7F7F; 
}

#navbar {
  text-align: center;
}

li {
  display: inline;
  float: left;  
  text-decoration: none;
}

li a {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  font-size: 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #F2B138;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-weight: normal;
}