#main-heading {
  margin-top: -50px;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: 86px;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: #7F7F7F;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: #F2B138;
}

#subtitle {
    font-size: 30px;
    text-align: center;
}

.titles {
  display: block;
}

#Jovana-image {
  width: 700px;
  border-radius: 20px;
}

@media screen and (max-width: 1419px){
  
  #container {
    flex-direction: column;
    margin-top: 187px;
    height: 100vh;
  }

  li a {
    font-size: 25px;
  }

  #main-heading {
    font-size: 50px;
  }

  #subtitle {
    font-size: 20px;
  }

  #Jovana-image {
    max-width: 400px;
  }

  .half {
    width: 100vw;
    height: 50vh;
  }

}
